@model ArticleCreateModel

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Makale Yönetimi /</span> Ekle</h4>


        <div class="row">
            <form asp-controller="Article" asp-action="Add" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All"></div>
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">

                            <div class="form-group">
                                <label asp-for="CategoryId" class="form-label">Kategori seçin :</label>
                                <select asp-for="CategoryId"
                                       type="text"
                                       class="form-control mb-3"
                                       id="defaultFormControlInput"
                                      
                                       aria-describedby="defaultFormControlHelp" >
                                   @foreach(var i in Model.Categories){
                                       <option value="@i.Id">@i.Name</option>
                                   }
                                   </select>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">

                                <label asp-for="Title" class="form-label">Başlık :</label>
                                <input asp-for="Title"
                                type="text"
                                class="form-control mb-3"
                                id="defaultFormControlInput"
                                placeholder="Bir başlık giirn :"
                                aria-describedby="defaultFormControlHelp"
                                />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Description" class="form-label">Açıklama :</label>
                                <input asp-for="Description"
                                type="text"
                                class="form-control mb-3"
                                id="defaultFormControlInput"
                                placeholder="Bir açıklama girin :"
                                aria-describedby="defaultFormControlHelp"
                                />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Content" class="form-label">İçerik</label>
                                <textarea asp-for="Content"
                                class="form-control mb-3"
                                id="defaultFormControlInput"
                                placeholder="John Doe"
                                aria-describedby="defaultFormControlHelp"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                
                            </div>

                            <div class="form-group">
                                <label asp-for="imageFile" class="form-label">Resim seçiniz : </label>
                                <input asp-for="imageFile"
                                          type="file"
                                          accept="image/*"
                                          class="form-control mb-3"
                                          id="defaultFormControlInput"
                                          placeholder="John Doe"
                                          aria-describedby="defaultFormControlHelp" />  
                                <span asp-validation-for="imageFile" class="text-danger"></span>
                            </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Makale Ekle</button>
                        </div>


                    </div>
                  </div>
                </div>
        </form>
              </div>
            </div>
            <!-- / Content -->

     

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
     
